<!DOCTYPE html>
<html lang="en">

<head>

  {% block title %}
  <title>Textbook Exchange Home</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      {% block nav %}
      <div class="mynav">
        <a href="">Home</a>
        <a href="">Reports</a>
        <a href="">Companies</a>
        <a href="">Create Group</a>
        <a href="">Manage My Groups</a>
        <a href="">User</a>
        <a id="logOut" href="">Log Out</a>
      </div>
      {% endblock %}
      <div class = "panel panel-default container" >
        <div class = "panel-body">
        {% block content %}{% endblock %}
      </div>
    </div>
    </div>
  </div>
</body>

</html>