<!DOCTYPE html>
<html lang="en">

<head>

  {% block title %}
  <title>Textbook Exchange Home</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      {% block nav %}
      <div class="mynav">
        <a href="{% url 'webapp:index' %}">Home</a>
        <a href="">Listings</a>
        <a href="">My Listings</a>
        <a href="">Professors</a>
        <a href="">Courses</a>
        <a href="{% url 'webapp:create_listing' %}">Create Listing</a>
         <a href="{% url 'webapp:create_textbook' %}">Create Textbook</a>
        <a href="{% url 'webapp:create_course' %}">Create Course</a>
        <a href="{% url 'webapp:create_professor' %}">Create Professor</a>
          {% load auth_cookie %}
            {% cookies as cookie_exists %}
          {% if not cookie_exists %}
        <a id="logOut" href="{% url 'webapp:login' %}">Log In</a>
              {% else %}
              <!--This is the only way I could think to make a post request for our logout method while keeping style-->
              <!--consistent. Basically, you use a fake form that links to our logout view that our Logout link submits-->
              <form id="logout_form" action="{% url 'webapp:logout' %}" method="post">{% csrf_token %}</form>
          <a id="logOut" href="javascript:{}" onclick="document.getElementById('logout_form').submit()">Log Out</a>
      {% endif %}
      </div>
      {% endblock %}
      <div class = "panel panel-default container" >
        <div class = "panel-body">
        {% block content %}{% endblock %}
      </div>
    </div>
    </div>
  </div>
</body>

</html>