{% extends "base_logged_in.html" %}

{% block content %}
    {% if not course.ok %}
        <h1>This course might not exist</h1>
        <p>Unfortunately, we couldn't find this course right now.</p>
    {% else %}
        {% load humanize %}
        <h1>{{ course.results.identifier }}: {{ course.results.name }}</h1>
        {% if course.results.professor %}
            <p><strong>Professor Name: </strong>{{ course.results.professor.name }}</p>
            <p><strong>Professor Email: </strong>{{ course.results.professor.email }}</p>
            {% else %}
            <p>We don't have a professor for this class yet.</p>
            {% endif %}
    {% if textbooks.ok %}
        {% if textbooks.results|length != 0  %}
            </br><h4>Textbooks required for this course:</h4>
            {% for item in textbooks.results %}
                <p><a href="{% url 'webapp:textbook' pk=item.pk %}">{{ item.title }}</a></p>
            {% endfor %}
            {% else %}
            <p>We don't have any required textbooks listed for this course yet.</p>
    {% endif %}
    {% endif %}
    </br><p>You're the <em>{{ course.results.viewed_count|ordinal }}</em> person to view this course.</p>
    {% endif %}

{% endblock %}