{% extends "base_logged_in.html" %}

{% block content %}
    {% if not ok %}
        <h1>This listing might not exist</h1>
        <p>Unfortunately, we couldn't find this listing right now.</p>
    {% else %}
        <h1>{{ results.item.title }}</h1>
        <p><strong>For Sale By: </strong><a href="">{{ results.user.username }}</a></p>
        <p><strong>Status: </strong>{{ results.status }}</p>
        <p><strong>Author: </strong>{{ results.item.author }}</p>
        <p><strong>Publication Date: </strong>{{ results.item.pub_date|date:"M d, Y" }}</p>
        <p><strong>Price: </strong>${{ results.price_text }}</p>
        <p><strong>Book Condition: </strong>{{ results.condition }}</p>
        <p><strong>ISBN: </strong>{{ results.item.ISBN }}</p>
    {% endif %}

{% endblock %}