{% extends "base_logged_in.html" %}

{% block content %}
    {% if not ok %}
        <h1>This listing might not exist</h1>
        <p>Unfortunately, we couldn't find this listing right now.</p>
    {% else %}
        {% load humanize %}
        <h1>{{ results.item.title }}</h1>
        <p><strong>For Sale By: </strong><a href="{% url 'webapp:user' pk=results.user.pk %}">{{ results.user.username }}</a></p>
        <p><strong>Status: </strong>{{ results.status }}</p>
        <p><strong>Author: </strong>{{ results.item.author }}</p>
        <p><strong>Publication Date: </strong>{{ results.item.pub_date|date:"M d, Y" }}</p>
        <p><strong>Price: </strong>${{ results.price_text }}</p>
        <p><strong>Book Condition: </strong>{{ results.condition }}</p>
        <p><strong>ISBN: </strong>{{ results.item.ISBN }}</p>
        <p>You're the <em>{{ results.viewed_count|ordinal }}</em> person to view this listing.</p>
        {% if results.recommended_flag %}

            <h2>Recommended Items</h2>
                <ul>
                    {% for listing in results.recommendations %}
                        <li><a href="{% url 'webapp:listing' pk=listing.results.pk %}">{{ listing.results.item.title }} (${{ listing.results.actualprice }})</a>
                        <ul><li>Seller: <a href="{% url 'webapp:listing' pk=listing.results.user.pk %}">{{ listing.results.user.username}}</a></li></ul></li>
                    {% endfor %}
                </ul>
        {% endif %}
    {% endif %}

{% endblock %}