/*.nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    position: inline;
}*/
.mynav {
    /*background-color: #000099;*/
    background-color: #3196ae;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.mynav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.mynav a:hover {
    background-color: #44e2ff;
    color: black;
}

#logOut {
  float: right;
}


select {
  width: 300px;
}

#listTable {
  margin: auto;
}

p {
  word-wrap: break-word !important;
}
